// ----------------------------------------------------------
// GLOBAL TOKENS
// Custom Theme
// ----------------------------------------------------------

@layer theme {
  .theme {
    // --------------------------------------------------------
    // Colors (Branding Core)
    // --------------------------------------------------------
    --fs-color-main-0: #008B8B;
    --fs-color-main-1: #20B2AA;
    --fs-color-main-2: #48D1CC;
    --fs-color-main-3: #40E0D0;
    --fs-color-main-4: #00CED1;
    --fs-color-main-5: #66CDAA;

    --fs-color-accent-0: #00FFFF;

    main {
      background-color: var(--fs-color-main-1);
    }

    #newsletter-name + div, #newsletter-email + div, #newsletter-phone + div {
      visibility: hidden;
    }

    // --------------------------------------------------------
    // Typography (Branding Core)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Spacing (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Grid & Layout (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Interactive Controls (UI Essentials)
    // --------------------------------------------------------

    // --------------------------------------------------------
    // Refinements
    // --------------------------------------------------------

    // --------------------------------------------------------
    // FS UI Components
    // --------------------------------------------------------
    // Add here the customizations for FastStore UI components.
  }
}
